Source: libstrange-perl
Section: perl
Priority: optional
Maintainer: Joe Maintainer <joemaint@test.local>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/Strange/

Package: libstrange-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Perl extension for blah blah blah
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
