Source: libstrange-perl
Section: misc
Priority: Extra
Build-Depends: perl6, xlib-dev
Build-Depends-Indep: perl
Maintainer: Joe Maintainer <joemaint@test.local>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Strange/

Package: libstrange-perl
Architecture: all
Depends: perl6
Conflicts: ba-ba-buma
Description: really ugly module to test dh-make-perl
 A really ugly long description
 for a really ugly perl module.
 .
 This description was automagically extracted from the module by dh-make-perl.
