Source: dh-make-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 8),
 perl (>= 5.10)
Build-Depends-Indep: 
 libapt-pkg-perl,
 libarray-unique-perl,
 libclass-accessor-perl,
 libdpkg-perl,
 libemail-date-format-perl,
 libfile-dircompare-perl,
 libfile-find-rule-perl,
 libfile-touch-perl,
 liblist-moreutils-perl,
 perl (>= 5.10.1) | libmodule-corelist-perl (>= 2.14),
 libmodule-depends-perl (>= 0.15),
 libparse-debcontrol-perl,
 libparse-debianchangelog-perl,
 libsoftware-license-perl,
 libtest-compile-perl,
 libtest-deep-perl,
 libtest-differences-perl,
 libtest-distmanifest-perl,
 libtest-exception-perl,
 libtest-pod-coverage-perl,
 libtest-pod-perl,
 perl (>= 5.10.1) | libtest-simple-perl (>= 0.82),
 libtext-diff-perl,
 libtie-ixhash-perl,
 libwww-mechanize-perl,
 libyaml-perl,
 libemail-address-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Gunnar Wolf <gwolf@debian.org>, Wolfgang Schemmel <debian@37.org>,
 Christopher Sacca <csacca@thecsl.org>,
 Damyan Ivanov <dmn@debian.org>, gregor herrmann <gregoa@debian.org>,
 Oliver Gorwits <oliver.gorwits@oucs.ox.ac.uk>,
 Ryan Niebur <ryan@debian.org>, Nathan Handler <nhandler@ubuntu.com>,
 Salvatore Bonaccorso <carnil@debian.org>,
 Maximilian Gass <mxey@cloudconnected.org>,
 Nicholas Bamber <nicholas@periapt.co.uk>
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/dh-make-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/dh-make-perl/

Package: dh-make-perl
Architecture: all
Depends: debhelper (>= 7), ${perl:Depends}, ${misc:Depends},
 make, dpkg-dev, fakeroot, perl (>= 5.10),
 libapt-pkg-perl,
 libarray-unique-perl,
 libclass-accessor-perl,
 libdpkg-perl,
 libemail-date-format-perl,
 liblist-moreutils-perl,
 perl (>= 5.10.1) | libmodule-corelist-perl (>= 2.14),
 libmodule-depends-perl (>= 0.15),
 libparse-debcontrol-perl,
 libparse-debianchangelog-perl,
 libsoftware-license-perl,
 libtie-ixhash-perl,
 libwww-mechanize-perl,
 libyaml-perl,
 libemail-address-perl
Recommends: apt-file (>= 2.1.0)
Description: helper for creating Debian packages from perl modules
 dh-make-perl will create the files required to build a Debian source
 package out of a perl package.  This works for most simple packages
 and is also useful for getting started with packaging perl modules.
 Given a perl package name, it can also automatically download it from
 CPAN.
 .
 dh-make-perl can also help keeping the debian/ content current when upstream
 dependencies or Debian practices change. It can also help improve existing
 Perl module packages.
